/* contenitore righe di immagini */
.contenuto {
  clear: left;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
}

/* testo della pagine responsive alla larghezza della viewport */
@media screen and (min-width: 667px) {
  .contenuto, .didascalia  {
    font-size: 22px;
  }
}
/* testo della pagine responsive alla larghezza della viewport */
@media screen and (max-width: 666px) {
  .contenuto, .didascalia {
    font-size: 3.3vw;
  }
}

/* contenintore prima immagine di ogni riga */
.contenuto .quadratiexpo {
padding: 20px;
}

/* contenintore seconda immagine di ogni riga */
.contenuto .quadratiexpo2 {
padding: 20px;
position: relative;
left: 13%;
}

/* immagini responsive */
.contenuto .quadratiexpo img, .contenuto .quadratiexpo2 img{
max-width: 300px;
padding-right: 30%;
box-sizing: border-box;
display: block;
width: 100%;
height: auto;
}

.container {
  position: relative; /* posizione diversa da static in modo tale da poter posizionare: absolut gli elementi al suo interno */
}

.overlayGR {
  position: absolute; /* posizionato rispetto al div di classe "conteiner" */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 70%;
  opacity: 0;
}

/* quando il puntatore è sopra al conteiner "overlayGR" assume opacità */
.container:hover .overlayGR {
  opacity: 0.9;
}

.textover {
  font-size: 15px;
  font-weight: normal;
  position: absolute; /* posizionato rispetto al div di classe "conteiner" */
  top: 46%;
  left: 34%;
}

/* responsività del testo all'interno delle immagini (hover) */
@media screen and (min-width: 681px) {
  .textover {
    font-size: 15px;
  }
}
@media screen and (max-width: 680px) {
  .textover {
    font-size: 2.2vw;
  }
}

/* contenitore video */
.contenitorevideo2 {
  margin-top: 80px;
  clear: both;
  font-size: 22px;
  margin-bottom: 60px;
}

.video2 {
  margin-top: 60px;
  clear: both;
  padding: 20px;
  width: 50%
}


  @media screen and (max-width: 415px) {


    .contenuto .quadratiexpo {
    padding-left: 17pt;
    }

    .contenuto .quadratiexpo2 {
    padding: 20px;
    padding-left: 0;
    position: relative;
    left: 0;
    }


    .navbar a.right{
      position: absolute;
      top: 9pt;
      right: 0;
    }

    .contenitorevideo2 {
      margin-top: 80px;
    }


    .video2 {
      margin-top: 0;
      width: 100%;
      padding-left: 17pt;
      padding-right: 17pt;
      box-sizing: border-box;
    }


  }
