
.contenuto12, .contenutoALTRI {
  clear: both;
  display: flex;
  flex-wrap: nowrap; /* gli elementi child rimangono sulla stessa linea */
  margin-top: 60px;
}

.contenuto12 .quadratiexpo, .contenutoALTRI .quadratiexpo {
padding: 20px;
font-size: 22px;
padding-left: 17pt;
}

.contenuto12 .quadratiexpo2, .contenutoALTRI .quadratiexpo2 {
padding: 20px;
font-size: 22px;
position: relative;
left: 10%; /* spostato del 10% della larghezza dell'elemento contenitore a destra */
}


.contenuto12 .quadratiexpo img, .contenuto12 .quadratiexpo2 img{
max-width: 300px; /* larghezza massima delle immagini */
padding-right: 50%;
box-sizing: border-box; /* la larghezza tiene conto del padding */
width: 100%; /* padding + contenuto occupano il 100% della larghezza disponibile */
height: auto;
display: block; /* rimuove lo spazio sotto alle immagini */
}


.contenutoALTRI .quadratiexpo img, .contenutoALTRI .quadratiexpo2 img{
max-width: 300px;
padding-right: 25%; /* il padding deve essere il 25% della largezza totale */
box-sizing: border-box;
width: 100%;
height: auto;
display: block;
}


.quadratiexpo p:hover, .quadratiexpo2 p:hover {
  color: #a5a5a5;
}


  @media screen and (max-width: 415px) {

    .contenuto12 .quadratiexpo2, .contenutoALTRI .quadratiexpo2 {
    padding: 20px;
    font-size: 22px;
    position: relative;
    left: 0; /* spostato del 10% della larghezza dell'elemento contenitore a destra */
    }

  }
