::-moz-selection { color: #8D59EF; }
::selection { color: #8D59EF; }


body {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 1000px;
  font-weight: bold;
  margin: auto;
  background-color: rgb(33, 34, 32);
  color: White;
}

#page-container {
  position: relative;
  min-height: 100vh; /* minimo altezza 100% della viewport height */
}

#content-wrap {
  padding-bottom: 40px;    /* Altezza footer */
}


/* Style the top navigation bar */
.navbar {
 overflow: hidden; /* Hide overflow */
    max-width: 1000px;
    margin-bottom: 120px;
}


.navbar a {
  float: left;
  display: block;
  font-size: 16px;
  color: White; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px;
  padding-bottom: 2px;
  text-decoration: none; /* Remove underline */
}

.navbar a.right {
  float: right;
  font-size: 16px;
}

/* stesso colore hover anche nella dark mode */
.navbar a:hover {
  color: #a5a5a5;
}

.navbar a.right:hover {
  color: White;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: White;
  padding: 14px 20px;
  padding-bottom: 6px;
  background-color: inherit;
  font:inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
    color: #a5a5a5;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 134px;
}

.dropdown-content a {
  float: none;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
    color: #a5a5a5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.select-css {
  font-size: 11px;
	display: block;
  position: absolute;
  top: 45px;
  right: 0;
	font-family: sans-serif;
	color: White;
	padding: 5px 2px 5px 2px;
  border: hidden;
	box-sizing: border-box;
  margin-right: 18px;
  appearance: none;
	-webkit-appearance: none;
	background-color: rgb(33, 34, 32);
  user-select: none;
  -webkit-user-select: none;
}


.select-css:hover {
	text-decoration: underline;
  cursor: pointer;
}


.video1 {
  text-align:center;
  clear: both;
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
}
@media screen and (max-width: 766px) {
  .video1 {
    width: 460px;
  }
}


.pagetitle {
  font-size: 30px;
  padding-left: 20px;
}

.quadratiexpo a, .quadratiexpo2 a{
color: White;
text-decoration: none;
}




.overlayGR {
  background-color: rgb(58, 58, 60);
}
.textover {
  color: White;
}



.music {
margin: 30px;
font-size: 25px;
text-align: center;
clear: both;
}


.moodimages_orizzonatli {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  }

.moodimages_orizzonatli img{
  text-align: center;
  width: 100%;
}


.paragrafoabout {
  text-align: justify;
  text-justify: inter-word;
  clear: both;
  position: relative;
  top: -12px;
  margin: 0px 20px;
}
@media screen and (max-width: 1000px) {
  .paragrafoabout {
    margin: 0px 50px;
  }
}


/* Schermo piu scuro quando si attiva il modal */
#overlay{
   display: none;
    opacity:0.5;
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 1;
}

/* The Modal (background) */
.modal {
  color: Black;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 400px;
  height: 250px;
  margin-left: -200px;
  margin-top: -130px;
  background-color: #F7F7F5; /* sfondo color */
}

/* Modal Content */
.modal-content {
  font-size: 13px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  margin-left: -43%;
  width: 86%;
  height: 250px;
  padding: 40px 0;
  box-sizing: border-box;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -25px;
  right: -5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.lingue {
  margin-top: 20px;
}
.lingue span {
  padding-right: 30px;
  cursor: pointer;
}
.lingue a {
  text-decoration: none;
  color: Black;
}
.lingue a:hover {
  text-decoration: underline;
}






footer {
  font-weight: normal;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  font-size: 12px;
}


.footertext {
  float: left;
  padding: 3px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  padding-right: 20px;
}

.footerlinksL {
  float: left;
  padding: 3px;
  color: White;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  padding-right: 20px;
}

.footerlinksL:hover {
  color: #a5a5a5;
}


.myBtn {
  float: right;
  padding: 3px;
  margin-top: 7px;
  margin-bottom: 16px;
}

#myBtn {
  padding: 3px;
  color: White;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  background-color: inherit;
}

#myBtn:hover {
  color: #a5a5a5;
  cursor: pointer;
}



  @media screen and (max-width: 415px) {

    #page-container {
      position:inherit;
      min-height: 0; /* minimo altezza 100% della viewport height */
    }

    body {
      font-family: Helvetica, Arial, sans-serif;
      max-width: 415px;
      font-weight: bold;
      margin: 0;
      width: 100%;
      overflow-x: hidden;
    }

.hamburger {
  position: absolute;
  left: 9pt;
  top: 10pt;
  z-index: 1;
  display: block;
  padding: 8pt;
}


    .bar {
      width: 18pt;
      height: 4px;
      background-color: white;
      margin-bottom: 2pt;
    }


.cross {
  position: absolute;
  left: 9pt;
  top: 11.5pt;
  z-index: 10;
  padding: 8pt;
}

.X{
  width: 18pt;
  height: 4px;
  background-color: white;
  -webkit-transform:translateY(4px) rotate(45deg);
  transform:translateY(4px) rotate(45deg);
}

.XX{
  width: 18pt;
  height: 4px;
  background-color: white;
  -ms-transform: rotate(-45deg); /* IE 9 */
  transform: rotate(-45deg);
}


.mylinksX {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(33, 34, 32);
  z-index: 5;
  display: none;
}



    .navbar a {
      float: none; /* side-by-side */
      display: block;
      font-size: 30px;
      text-align: left; /* testo centrato */
      padding: 10px 20px;
      text-decoration: none; /* Rimuove la sottolinatura */
      position: relative;
      top: 206pt;
    }


    .navbar a.right{
      float: right;
      display: block;
      padding-right: 17pt;
      position: absolute;
      top: 9pt;
      right: 0;
      z-index: 10;
    }



.dropdown .dropbtn {
  font-size: 16px;
  outline: none;
  padding: 14px 20px;
  padding-left: 17pt;
  padding-bottom: 6px;
  background-color: inherit;
  font:inherit;
  margin: 0;
}


.dropbtn {
  display: none;
}


.dropdown-content {
  display: block; /* non viene mostrato */
  position: absolute; /* togliamo il contenuto a tendina dal flusso del documento */
  left: 0;
  top: 82.8pt;
  width: 134px; /* mantiene la stessa dimensione per tutto il bloccco a tendina */
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 10px 20px; /* paddin 6px sopra e sotto e 20px ai lati */
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
  top: 0;
}




.video1 {
  text-align:center;
  clear: both;
  width: 100%;
  padding-left: 17pt;
  padding-right: 17pt;
  margin-left: 0;
  margin-bottom: 60px;
  margin-top: 25vh;
  overflow: hidden;
  box-sizing: border-box;
}
	  

footer {
  font-weight: normal;
  position: inherit; /* posizione assoluta in basso  */
  height: auto;
  margin-bottom: 2px;
  font-size: 12px;
  overflow: hidden;
  z-index: 6;
}

.footertext {
display: none;
}


.footerlinksL {
  float: left;
  padding: 3px;
  padding-right: 0px;
  padding-left: 17pt;
}

.myBtn {
  float: right;
  padding: 3px;
  padding-right: 17pt;
  margin-top: 7px;
  margin-bottom: 0px;
}


.select-css {
  font-size: 11px;
	display: block;
  position: absolute; /* fissato in alto a dx */
  top: 45px;
  right: 0;
	font-family: sans-serif;
	padding: 5px 2px 5px 2px;
  border: hidden;  /* nasconde il bordo */
	box-sizing: border-box;
  margin-right: 17pt;
  appearance: none;    /* rimuove lo stile di default applicato */
	-webkit-appearance: none;
  user-select: none;
  -webkit-user-select: none;
}


.paragrafoabout {
  text-align: left;
  clear: both;
  position: relative;
  top: 0;
  margin: 0px 17pt;
}


/* stile della pagina EN_mood.html */
.music {
margin: 30px;
margin-left: 17pt;
margin-right: 17pt;
font-size: 25px;
text-align: center;
clear: both;
}

.moodimages_orizzonatli {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 17pt;
  padding-right: 17pt;
  width: 100%;
  box-sizing: border-box;
  }


}
